{% extends 'base.html' %}


<head>
    {% block title %}
    <title>Edit Recipe </title>
    {% endblock %}
</head>

{% block body %}

    <div class="container col-md-12">
        <h1>Edit Recipe</h1>
        {% include 'elements/alert.html' %}
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in recipeform %}
                {% if field.errors %}
                    <label>{{ field.label }}<span style="color: red">{{ field.errors }}</span></label>
                    {{ field }}
                {% else %}
                    <label>{{ field.label }}</label>
                    {{ field }}
                {% endif %}
                <br>
            {% endfor %}
            <ul class="list-group">
                {% for flav in recipe.flavoring.all %}
                    <li class="list-group-item">{{flav.name}}</li>
                    <li class="list-group-item">{{flav.percentage}}</li>
                {% endfor %}
            </ul>

        <button type="submit" class="save btn btn-primary">Save</button>
        </form>
    </div>



{% endblock %}